.App {
    text-align: center;
    background-color: #333;
    background-image: linear-gradient(
        90deg,
        #000,
        #111,
        #222,
        #333,
        #444,
        #555,
        #666,
        #777,
        #888,
        #999,
        #aaa,
        #bbb,
        #ccc,
        #ddd
    );
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
